<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>qawatake.gotosakura</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>19B6C0CB-93A0-4C13-BA10-D0A13618DC13</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D829E09D-8080-4477-B25E-333500E1D623</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>36609C44-D6D1-43A2-BFFD-71E58B7FF363</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B48695D9-60A6-448B-A0C3-6FE96D779281</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>1F55E24D-546C-4284-A587-C1AFA59A8CD2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8387FA89-F99F-4A5E-AFDC-5531D0B17632</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>CB231773-9BF4-4E0A-B0F1-66854081E4AE</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>35A0D687-B2BB-4D33-9617-88BE54F0E6E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>19B6C0CB-93A0-4C13-BA10-D0A13618DC13</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3F468DA1-36D2-49D0-ADE1-F7D55F144FB4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>35A0D687-B2BB-4D33-9617-88BE54F0E6E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>qawatake</string>
	<key>description</key>
	<string>開いている amazon のぺーじからサクラチェッカーにとぶ</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>gotosakura</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.apple.Safari</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:link}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D829E09D-8080-4477-B25E-333500E1D623</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:browser}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Safari</string>
						<key>outputlabel</key>
						<string>Safari</string>
						<key>uid</key>
						<string>36609C44-D6D1-43A2-BFFD-71E58B7FF363</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:browser}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Google Chrome</string>
						<key>outputlabel</key>
						<string>Google Chrome</string>
						<key>uid</key>
						<string>1F55E24D-546C-4284-A587-C1AFA59A8CD2</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:browser}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Brave Browser</string>
						<key>outputlabel</key>
						<string>Brave Browser</string>
						<key>uid</key>
						<string>CB231773-9BF4-4E0A-B0F1-66854081E4AE</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>19B6C0CB-93A0-4C13-BA10-D0A13618DC13</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./main.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>35A0D687-B2BB-4D33-9617-88BE54F0E6E6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sakura</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>サクラチェッカーを開く</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3F468DA1-36D2-49D0-ADE1-F7D55F144FB4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:link}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B48695D9-60A6-448B-A0C3-6FE96D779281</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.brave.Browser</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:link}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8387FA89-F99F-4A5E-AFDC-5531D0B17632</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>19B6C0CB-93A0-4C13-BA10-D0A13618DC13</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>35A0D687-B2BB-4D33-9617-88BE54F0E6E6</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>3F468DA1-36D2-49D0-ADE1-F7D55F144FB4</key>
		<dict>
			<key>xpos</key>
			<integer>85</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>8387FA89-F99F-4A5E-AFDC-5531D0B17632</key>
		<dict>
			<key>xpos</key>
			<integer>820</integer>
			<key>ypos</key>
			<integer>435</integer>
		</dict>
		<key>B48695D9-60A6-448B-A0C3-6FE96D779281</key>
		<dict>
			<key>xpos</key>
			<integer>820</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>D829E09D-8080-4477-B25E-333500E1D623</key>
		<dict>
			<key>xpos</key>
			<integer>820</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/qawatake/gotosakura</string>
</dict>
</plist>
